<ul class="list-group list-group-flush">
  {{#each posts as |post| }}
  <li class="list-group-item">
    <a href="/post/{{post.id}}">
      {{post.title}} Created On: {{post.createdAt}}
  </li>
  </a>
  <ul>
    {{#each post.comments as |comment|}}
    <li>{{comment.body}}</li>
    {{/each}}
  </ul>
  {{/each}}
</ul>