<div class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body" id="edit-post-form">
        <div>
            <label class="form-label">Title:</label>
            <input class="form-input" type="text" name="post-title" value="{{post.title}}" />
        </div>
        <button type="submit" class="#edit-post-form">Update Post</button>
    </form>
</div>

<script src="/js/updatepost.js"></script>