<div class="card">
    <h2 class="card-header">Edit Post</h2>
    <form class="card-body" id="edit-post-form">
        <div>
            <label class="form-label">Title:</label>
            <input class="form-input" type="text" name="post-title" value="{{post.title}}" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Blog Content</label>
            <textarea class="form-control" id="content" name="post-content" rows="3">{{post.content}}
            </textarea>
        </div>

        <button data-id="{{post.id}}" type="submit" class="edit-post-form">Update Post</button>
    </form>
</div>

<script src="/js/updatepost.js"></script>