
.container-fluid {
    background-color: #b29780;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
  }

.nav-link {
    color: purple;
  }
  
  /* CSS to place blog on the left-side of the screen on the Home>click on blog post */
  .card-container {
    display: flex;
  }
  
  .card {
    width: 50%;
  }
  
   /* CSS to place blog on the left-side of the screen on the Dashboard Screen */
   .card-container {
    display: flex;
  }
  
  .dash-header {
    width: 50%;
  }

   /* CSS to place card and form side by side on the Dashboard page */
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .col-md-6 {
    flex-basis: 50%;
  }
  
  
  
