
.container-fluid {
    background-color: blue;
  }

.nav-link {
    color: purple;
  }
  
  /* CSS to place blog on the left-side of the screen on the Home>click on blog post */
  .card-container {
    display: flex;
  }
  
  .card {
    width: 50%;
  }
  
   /* CSS to place blog on the left-side of the screen on the Dashboard Screen */
  .dash-header {
    display: flex;
  }
  
  .dash-body {
    width: 50%;
    background-color: yellow
    ;
  }
  
